<header>
    <nav>
        <div class="logo">
            <a href="#main">Bad Thrifts.</a>
        </div>
        <ul class="main-nav">
            <li class="has-submenu">
            <a href="#">Products</a>
            <div class="submenu">
                <div class="column">
                    <a href="#productsMen">Men</a>
                    <a href="#productsWomen">Women</a>
                </div>
            </div>
            </li>
            <li class="admin-nav">
                <a href="#">Users</a>
                <a href="#">Orders</a>
            </li>
        </ul>

        <div class="right-align">
            <div class="search-box">
                <input type="text" placeholder="Search" />
                <button><i class="fas fa-search"></i></button>
            </div>
        </div>
    </nav>
</header>