<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Tracker</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('auth/login') %>
    <%- include('auth/registration') %>
    <%- include('partials/profile_modal') %>
    
    <main class="profile-wrapper">
        <section class="order-tracker-container">
            <div class="order-tracker-content">
                <h3>thrifter. <span class="to-received">To Received</span></h3>
                <div class="product-img-checkout"><p>img</p></div>
                <div class="product-details">
                    <strong>Product Name</strong>
                    <p class="product-brand"><em>Brand: Chuchu</em></p>
                </div>
                <p class="tracker-unit-price">₱530</p>
                <p class="total-tracker">Total # item: <span class="price-track">₱total</span></p>
                <p class="delivery-status">
                    Expected Delivery Time: date - date <br>
                    <em>Order has been shipped</em>
                </p>
                <button class="order-received-btn">Order Received</button>
            </div>
        </section>
    </main>
    <js src="main_js.js" defer></js>
    <js src="cart.js" defer></js>
</body>
</html>