<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bad Thrifts</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('auth/login') %>
    <%- include('auth/registration') %>

    <section class="products-new" id="productsNew">
        <div class="section-title">
        <h1>New Arrivals</h1>
        </div>

        <div class="products-grid">
            <div class="product-card">
                <div class="product-image">
                    <img src="img/product1.jpg" alt="Product 1">
                </div>
                <div class="product-info">
                    <span class="price">₱600</span>
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem Ipsum</p>
                    <span class="stock-label">Stock: 1</span>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>

    <script src="/js/main_js.js" defer></script>
</body>
</html>
